{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviewer Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
</body>
</html>
</head>
<body>

    {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
        <strong>Message:</strong> {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endfor %}

    <h3>Fill up your details</h3>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group">
            <label for="fname">First Name</label>
            <input type="text" class="form-control" id="fname" name="fname" placeholder="Enter Your First Name" value="{{me.first_name}}">
        </div>
        <div class="form-group">
            <label for="lname">Last Name</label>
            <input type="text" class="form-control" id="lname" name="lname" placeholder="Enter Your Last Name" value="{{me.last_name}}">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" class="form-control" id="email" name="email" placeholder="Enter Your Email Address" value="{{me.email}}">
        </div>
        <div class="form-group">
            <label for="Profession">Profession:</label>
            <select class="form-control" name="profession" id="profession">
                <option value="" disabled selected>---</option>
                <option value="professor" {%if rprofile.profession == 'professor' %} selected {%endif%}>Professor</option>
                <option value="developer" {%if rprofile.profession == 'developer' %} selected {%endif%}>Developer</option>
              </select>
            </div>
        <div class="form-group">
            <label for="ins_name">Institue name:</label>
            <input value="{{ rprofile.institute }}" type="text" class="form-control" id="ins_name" name="ins_name" placeholder="Enter Institue name">
        </div>
        <div class="form-group">
            <label for="H_Q">Higher Qualification: </label>
            <input type="H_Q" class="form-control" id="H_Q" name="H_Q" placeholder="Enter Qualification" value="{{rprofile.qualification}}">
        </div>
        <div class="form-group">
            <label for="domain">Domain:</label>
            <select multiple class="form-control" name="domains" id="domains">
                {%for  domain in domains%}
                    <option value="{{domain.short_name}}" {% if domain in rprofile.domains.all %} selected {%endif%}>{{domain.name}}</option>
                {%endfor%}
            </select>
        </div>
        <div class="form-group">
            <label for="resume">Upload your Resume:</label></br>
            <input type="file" class="form-control" id="resume" name="resume" placeholder="Resume" value="{{rprofile.resume}}">
            {%if rprofile.resume%}
            Uploaded resume: <a href="{%url 'reviewer:resume'%}">{{rprofile.resume.name}}</a>
            {%endif%}
        </div>
        {%if rprofile.state == "draft" %}
        <button type="button" id="hide" class="btn btn-primary">Edit</button>
        <button id="save" type="submit" class="btn btn-primary" style="display: none;">Save Changes</button>
        {%endif%}
    </form>
    {% if rprofile.state == "draft" %}
    <form method="post" action="{%url 'reviewer:submit_profile'%}">
        {%csrf_token%}
        <button id="submit" type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% elif rprofile.state == "pending" %}
    <div class="message">Your profile is pending for review</div>
    {% elif rprofile.state == "accepted" %}
    <a href="{%url 'paper:paper_list' %}">Papers assigned</a>
    {%endif%}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
    <script>
        window.addEventListener('DOMContentLoaded', function() {
            const tags = document.querySelectorAll(".form-control");
            const hide = document.getElementById("hide");

            hide && hide.addEventListener("click", function () {
                const submit_button = document.getElementById("save");
                if (submit_button.style.display === "none") {
                    hide.innerHTML = "Cancel";
                    submit_button.style.display = "";
                    [...tags].map(t => {
                        t.removeAttribute('readonly')
                        t.removeAttribute('disabled')
                    })
                } else {
                    hide.innerHTML = "Edit";
                    submit_button.style.display = "none";
                    [...tags].map(t => {
                        t.setAttribute('readonly', '')
                        t.setAttribute('disabled', '')
                    })
                }
                return false;
            });

            [...tags].map(t => {
                t.setAttribute('readonly', '')
                t.setAttribute('disabled', '')
            })
        })
    </script>
</body>
</html>