<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{paper.name}}</h1>
    <h2>{{paper.mentor}}</h2>
    <p>{{paper.status}}</p>
    <p>Uploaded paper: <a href="{%url 'paper:report_pdf' paper.id %}">{{paper.name}}</a></p>

    {%if is_reviewer and paper.status == "pending" %}


    <form method="post" action="/paper/{{paper.id}}/approve">
        {%csrf_token%}
        <button type="submit">Approve</button>
    </form>
    <form  method="post" action="/paper/{{paper.id}}/reject">
        {%csrf_token%}
        <input type="text" name="comment" required>
        <button type="submit">Reject</button>
    </form>
    {%endif%}

    <!-- <script>
        const buttons = document.querySelectorAll('button')

        buttons.forEach(button => button.addEventListener('click', function() {

            window.location = `/paper/{{paper.id}}/${this.dataset.id}`
        }))
    </script> -->
</body>
</html>
